<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Password Reset</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,500i,600,700,800,900,900i" rel="stylesheet">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">




    <link rel="stylesheet" href="/assets/css/index.css" >
    <link rel="shortcut icon" type="image/png" href="/assets/images/logo.png">
</head>

<body class="password-reset-body">

        <form class="password-reset-form" method="password-reset-post">
                <div class='password-reset-wrapper'>
                  <!-- show any messages that come back with authentication -->
                  <% if (message.length > 0) { %>
                  <div class="alert alert-danger">
                    <%= message %>
                  </div>
                  <% } %>
            
                  <input type="password" placeholder="New Password" name="new_password" id="new_password" />
                  <input type="password" placeholder="Confirm New Password" name="new_password_confirmation" id="new_password_confirmation" />
                  <button class="password-reset-form-btn" type="submit"> Reset Password </button>
                  <div class="password-reset-links">
                    <a class="password-reset-link" href="/signup">Signup</a>
                    <a class="password-reset-link" href="/login">Login</a>
                  </div>
                </div>
              </form>

<!-- script -->
    <script 
  src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

  <script src="/assets/js/main.js"></script>
</body>

</html>